# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
pip-wheel-metadata/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
